docker {
  enabled = true
  runOptions = '-v /var/run/docker.sock:/var/run/docker.sock'
}

manifest {
  name = 'Sage-Bionetworks-Challenges/nf-synapse-challenge'
  author = 'Thomas Yu'
  homePage = 'https://github.com/Sage-Bionetworks-Challenges/nf-synapse-challenge'
  description = 'Nextflow Monorepo for Challenges hosted on Synapse'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.0'
  version = '0.0.1'
  defaultBranch = 'main'
}

process {
  errorStrategy = 'retry'
  maxRetries = 3
}

profiles {
  test {
    params.send_email = false
  }
  data_to_model_prototype {
    params.entry = 'data_to_model'
    params.submissions = "9751432"
    params.project_name = "DPE-testing"
    params.view_id = "syn52576179"
    params.groundtruth_id = "syn65491926"
    params.challenge_container = "ghcr.io/jaymedina/test-evaluation:latest"
  }
  model_to_data_prototype {
    params.entry = 'model_to_data'
    params.submissions = "9744479"
    params.project_name = "DPE-testing"
    params.view_id = "syn53770151"
    params.data_folder_id = "syn51390589"
    params.groundtruth_id = "syn51390590"
    params.challenge_container = "ghcr.io/jaymedina/test-evaluation:latest"
  }
  dynamic_challenge {
    params.entry = 'data_to_model'
    params.view_id = "syn52658661"
    params.testing_data = "syn53627077"
    params.scoring_script = "dynamic_challenge_score.py"
    params.validation_script = "dynamic_challenge_validate.py"
    params.email_script = "dynamic_challenge_send_email.py"
  }
  pegs_challenge_validate {
    params.entry = 'model_to_data'
    params.project_name = "PEGS DREAM Challenge"
    params.view_id = "syn57373526"
    params.data_folder_id = "syn61464987"
    params.goldstandard_id = "syn58734682"
    params.private_folders = "predictions"
    params.challenge_container = "ghcr.io/sage-bionetworks-challenges/pegs-evaluation:latest"
    params.email_script = "send_email.py"
  }
  pegs_challenge_test {
    params.entry = 'model_to_data'
    params.project_name = "PEGS DREAM Challenge"
    params.view_id = "syn58942525"
    params.data_folder_id = "syn61485785"
    params.goldstandard_id = "syn58888786"
    params.private_folders = "predictions"
    params.challenge_container = "ghcr.io/sage-bionetworks-challenges/pegs-evaluation:latest"
    params.send_email = true
    params.email_with_score = "no"
  }
  olfactory25_challenge_validate {
    params.entry = 'data_to_model'
    params.project_name = 'DREAM Olfactory Mixtures Prediction Challenge 2025'
    params.view_id = "syn66279193"
    params.groundtruth_id = "syn65916675"
    params.challenge_container = "ghcr.io/sage-bionetworks-challenges/olfactory-mixtures-prediction:latest"
    params.email_script = "send_email.py"
  }
	tower {
    process {
      withName: RUN_DOCKER {
        memory = 32.GB
        cpus = 8
      }
      withLabel: flexible_compute {
        cpus = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
  } 
    }
  }
  local {
    process {
      withName: RUN_DOCKER {
        memory = 16.GB
        cpus = 4
      }
    }
  }
}

aws.batch.volumes = [ '/var/run/docker.sock:/var/run/docker.sock', '/tmp:/tmp' ]
